{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=JCAP_DB;Trusted_Connection=True;Encrypt=False;MultipleActiveResultSets=true;"
  },
  //"Authentication": {
  //  "Google": {
  //    "ClientSecret": "YOUR_GOOGLE_CLIENT_SECRET_HERE"
  //  }
  //},
  "PayOS": {
    "ClientId": "YOUR_PAYOS_CLIENT_ID_HERE",
    "ApiKey": "YOUR_PAYOS_API_KEY_HERE",
    "ChecksumKey": "YOUR_PAYOS_CHECKSUM_KEY_HERE",
    "ReturnUrl": "http://localhost:5173/credits/payment-return",
    "CancelUrl": "http://localhost:5173/credits"
  }
}

